* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.start-page {
  width: 100%;
  height: 100vh;
  background-color: #4a154b;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: auto 5% auto 20%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-height: 60%;
}

.slack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 50px;
  padding-left: 10px;
  color: white;
  font-weight: 700;
}

.slogan {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 90%;
}

.globe {
  width: 900px;
}

.sign-in {
  border: none;
  background-color: #136c47;
  color: white;
  font-size: 20px;
  padding: 10px 80px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.sign-in:hover {
  background-color: #177e53;
}

.texts {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 80%;
}

.down {
  color: white;
  font-size: 14px;
}

.down a {
  color: white;
  padding-left: 5px;
  font-size: 14px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4a154b;
  width: 100%;
  height: 100vh;
}

.login {
  height: 100%;
  max-width: 60%;
  max-height: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-text {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.create-account {
  color: white;
  margin-top: 50px;
}

.create-account span {
  text-decoration: underline;
  cursor: pointer;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.form input {
  outline: none;
  border: none;
  background-color: white;
  margin-bottom: 15px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  color: black;
}

.form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form input:focus:-ms-input-placeholder {
  color: transparent;
}

.form input:focus::-ms-input-placeholder {
  color: transparent;
}

.form input:focus::placeholder {
  color: transparent;
}

.form button {
  height: 50px;
  width: 100%;
  max-width: 50%;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #4a154b;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}

.form button:hover {
  background-color: white;
  color: #4a154b;
}

.error-message {
  color: #ff4c4c;
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 5px;
}

.create-account-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4a154b;
  width: 100%;
  height: 100vh;
}

.create {
  height: 100%;
  max-width: 60%;
  max-height: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-account-text {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.sign-in-option {
  color: white;
  margin-top: 50px;
}

.sign-in-option span {
  text-decoration: underline;
  cursor: pointer;
}

.account-created {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.account-created-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-height: 55%;
  width: 100%;
  max-width: 45%;
  margin: 14% auto;
  color: white;
  background-color: #4a154b;
  border-radius: 20px;
}

.account-created-message {
  margin-top: 70px;
  font-size: 20px;
  margin-bottom: 70px;
  font-weight: 500;
  -webkit-animation: scale 1s forwards;
          animation: scale 1s forwards;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
  }
}

@keyframes scale {
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
  }
}

.fa-arrow-pointer {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 60%;
  -webkit-animation: pointer 1s infinite alternate;
          animation: pointer 1s infinite alternate;
}

@-webkit-keyframes pointer {
  to {
    -webkit-transform: translate(-140px, -50px);
            transform: translate(-140px, -50px);
    color: black;
  }
}

@keyframes pointer {
  to {
    -webkit-transform: translate(-140px, -50px);
            transform: translate(-140px, -50px);
    color: black;
  }
}

.account-created-button {
  border: none;
  background-color: #136c47;
  color: white;
  font-size: 20px;
  padding: 20px 80px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-animation: color 1s infinite alternate;
          animation: color 1s infinite alternate;
}

@-webkit-keyframes color {
  to {
    background-color: white;
    color: black;
  }
}

@keyframes color {
  to {
    background-color: white;
    color: black;
  }
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 45px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  background-color: rgba(33, 9, 34, 0.9);
  color: rgba(255, 255, 255, 0.8);
}

.side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.fa-circle {
  cursor: pointer;
  font-size: 12px;
}

.fa-solid {
  padding-right: 20px;
}

.red-circle {
  color: #ff605c;
  padding-right: 7px;
}

.yellow-circle {
  color: #ffbd44;
  padding-right: 7px;
}

.green-circle {
  color: #00ca4e;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(255, 255, 255, 0.8);
}

.side-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  max-height: 80%;
  margin: auto;
  background-color: #5a3d5a;
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  cursor: pointer;
  padding-left: 10px;
}

.search::-webkit-input-placeholder {
  color: white;
  text-align: center;
}

.search:-ms-input-placeholder {
  color: white;
  text-align: center;
}

.search::-ms-input-placeholder {
  color: white;
  text-align: center;
}

.search::placeholder {
  color: white;
  text-align: center;
}

.search:focus::-webkit-input-placeholder {
  color: transparent;
}

.search:focus:-ms-input-placeholder {
  color: transparent;
}

.search:focus::-ms-input-placeholder {
  color: transparent;
}

.search:focus::placeholder {
  color: transparent;
}

.search:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.right-arrow:hover,
.left-arrow:hover,
.history-icon:hover,
.help-icon:hover,
.avatar:hover {
  color: white;
  cursor: pointer;
}

.slack-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100vh;
}

.sidebar {
  background-color: #4a1051;
  color: white;
}

.sidebar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2px solid #7a2f82;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.workspace {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.new-message {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channels,
.direct-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.channel-name,
.add-channel,
.dm,
.channel-list,
.user-list {
  margin-top: 20px;
  padding-left: 15px;
  height: 25px;
}

.channel-name:hover,
.dm:hover {
  background-color: rgba(51, 9, 56, 0.8);
}

.channel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.channel-names {
  height: 240px;
  overflow-y: scroll;
}

.channel-dropdown,
.dm-dropdown {
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.create-message,
.add-icon {
  font-size: 14px;
  cursor: pointer;
}

.create-message-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.create-message-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 60%;
  margin: auto;
  background-color: #4a1051;
  height: 100%;
  max-height: 60%;
  border-radius: 10px;
}

.recipient {
  width: 100%;
  height: 50px;
  max-width: 80%;
  outline: none;
  border: none;
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
}

.recipient:focus::-webkit-input-placeholder {
  color: transparent;
}

.recipient:focus:-ms-input-placeholder {
  color: transparent;
}

.recipient:focus::-ms-input-placeholder {
  color: transparent;
}

.recipient:focus::placeholder {
  color: transparent;
}

.textarea-modal {
  max-width: 80%;
  height: 100%;
  max-height: 50%;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  resize: none;
}

.option {
  border: none;
  height: 50px;
  width: 220px;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option:hover {
  background-color: #200623;
  color: white;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 45%;
}

.error-container {
  width: 100%;
  max-width: 78%;
  margin-bottom: 20px;
  color: #ff6767;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.dmessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-list {
  text-decoration: none;
  color: white;
}

.add-channel-modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
}

.add-channel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-height: 55%;
  width: 100%;
  max-width: 45%;
  margin: 14% auto;
  color: white;
  background-color: #4a154b;
  border-radius: 20px;
}

.add-channel-container input:first-child {
  width: 100%;
  max-width: 90%;
  margin-top: 10px;
  background-color: white;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
}

.add-member {
  width: 100%;
  max-width: 90%;
  margin-top: 10px;
  background-color: white;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding-left: 10px;
}

.add-channel-container input::-webkit-input-placeholder {
  font-size: 16px;
}

.add-channel-container input:-ms-input-placeholder {
  font-size: 16px;
}

.add-channel-container input::-ms-input-placeholder {
  font-size: 16px;
}

.add-channel-container input::placeholder {
  font-size: 16px;
}

.add-channel-container input:focus::-webkit-input-placeholder {
  color: transparent;
}

.add-channel-container input:focus:-ms-input-placeholder {
  color: transparent;
}

.add-channel-container input:focus::-ms-input-placeholder {
  color: transparent;
}

.add-channel-container input:focus::placeholder {
  color: transparent;
}

.add-channel-button {
  outline: none;
  border: none;
  margin-top: 10px;
  height: 50px;
  width: 100%;
  max-width: 20%;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.member-list {
  height: 200px;
  background-color: #f5baf5;
  width: 100%;
  max-width: 90%;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  color: black;
  overflow-y: scroll;
}

.member-name {
  background-color: #4a1051;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.fa-trash-can {
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 50px 10px;
}

textarea {
  height: 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  padding: 20px;
  outline: none;
  border-radius: 10px 10px 0 0;
  border: 1px solid grey;
  width: 100%;
  resize: none;
}

.text-area textarea::first-letter {
  text-transform: capitalize;
}

textarea::-webkit-input-placeholder {
  text-transform: capitalize;
}

textarea:-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::placeholder {
  text-transform: capitalize;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-ms-input-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

.send {
  border: none;
  background-color: #4a1051;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.send:hover {
  background-color: white;
  border: 1px solid #4a1a51;
  color: #4a1051;
}

.channel-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  -webkit-box-shadow: 0px 1px gainsboro;
          box-shadow: 0px 1px gainsboro;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.user-channel {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.body {
  height: 520px;
  overflow-y: scroll;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sender {
  font-weight: 600;
  color: rgba(33, 9, 34, 0.9);
}

.messages {
  margin-top: 5px;
  font-size: 18px;
}

.date {
  color: grey;
  font-size: 12px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.members {
  cursor: pointer;
}

.slack-main {
  position: fixed;
}
/*# sourceMappingURL=output.css.map */