.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 50px 10px;
}

textarea {
    height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 20px;
    outline: none;
    border-radius: 10px 10px 0 0;
    border: 1px solid grey;
    width: 100%;
    resize: none;
}

.text-area textarea::first-letter {
    text-transform: capitalize;
}

textarea::placeholder::first-letter {
    text-transform: capitalize;
}

textarea:focus::placeholder {
    color: transparent;
}

.send {
    border: none;
    background-color: rgb(74, 16, 81);
    font-size: 16px;
    color: white;
    // position: absolute;
    // bottom: 9%;
    // left: 93%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.send:hover {
    background-color: white;
    border: 1px solid rgb(74, 26, 81);
    color:rgb(74, 16, 81)
}

.channel-user {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0px 1px rgb(220, 220, 220);
    height: 70px;
    align-items: center;
    margin: 0 10px;
}

.user-channel {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}


.body {
    height: 520px;
    overflow-y: scroll;
}

.message {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px;
    align-items: center;
}

.sender {
    font-weight: 600;
    color: rgba(33, 9, 34, 0.9);
}

.messages {
    margin-top: 5px;
    font-size: 18px;
}
.date {
    color: grey;
    font-size: 12px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.members {
    cursor: pointer;
}

.slack-main {
    position: fixed;
}

.member-list-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.member-list-container {
    background-color: rgb(74, 21, 75);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 50%;
    margin: 10% auto;
    max-width: 40%;
    border-radius: 20px;
    padding: 40px 20px;
    color: white;
}

.top-modal {
    display: flex;
    justify-content: space-between;
}

.fa-circle-xmark{
    cursor: pointer;
}