.nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 45px;
  align-content: center;
  padding: 1px;
  background-color: rgba(33, 9, 34, 0.945);
  color: rgba(255, 255, 255, 0.8);
}

.side-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

.left {
  padding-left: 10px;
}

.fa-circle {
  cursor: pointer;
  font-size: 12px;
}

.fa-solid {
  padding-right: 20px;
}

.red-circle {
  color: rgb(255, 96, 92);
  padding-right: 7px;
}

.yellow-circle {
  color: rgb(255, 189, 68);
  padding-right: 7px;
}

.green-circle {
  color: rgb(0, 202, 78);
}

.middle {
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgba(255, 255, 255, 0.8);
}

.side-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .avatar {
    width: 18px;
    margin-right: 12px;
  }

  .fa-solid {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .toggle {
    position: absolute;
    background-color: rgba(58, 0, 58, 0.962);
    color: white;
    top: 5%;
    right: 0;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 5px;
    font-weight: 600;
    animation: slide 1s ease-in-out 2 alternate forwards;
  
  }

  @keyframes slide {
    from {
      width: 0;
    }
    to {
      width: 150px;
    }
  }
}

.search-button {
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  margin: auto;
  background-color: rgba(90, 61, 90, 0.893);
  color: white;
  border-radius: 5px;
  padding-left: 1px;
  font-family: 'Mulish', sans-serif;

  .fa-magnifying-glass {
    padding: 0 10px;
    font-size: 12px;
  }
}

.search-button:hover {
  background-color: rgba(99, 68, 99, 0.893);
}

.right {
  display: flex;
  text-align: center;
}

.right-arrow:hover,
.left-arrow:hover,
.history-icon:hover,
.help-icon:hover,
.avatar:hover {
  color: white;
  cursor: pointer;
}