.slack-main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  height: 100vh;
}

.sidebar {
  background-color: rgba(58, 0, 58, 0.962);
  color: white;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(101, 36, 108, 0.826);
  height: 50px;
  align-items: center;
  padding: 0 20px;

  &:hover {
    background-color: rgba(33, 9, 34, 0.394);
  }
}

.white-circle {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;

  .fa-regular {
    position: relative;
    color: black;
    font-size: 16px;
    top: 20%;
    left: 28%;
  }
}

.workspace {
  font-size: 20px;
  font-weight: 700;

  .fa-solid {
    font-size: 12px;
    margin-left: 7px;
  }
}

.sidebar-options-container {
  .sidebar-options {
    .sidebar-options-list {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);

      .list-options {
        display: flex;
        align-items: center;
        height: 25px;
        padding: 14px 0;

        &:hover:not(:last-child) {
          background-color: rgba(33, 9, 34, 0.394);
          cursor: pointer;
        }

        .fa-solid {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
          padding-left: 15px;
        }
      }

      .list-options:last-child:hover {
        color: white;
      }

      .option-1 {
        margin-top: 15px;
      }

      .option-6 {
        .fa-solid {
          padding-left: 17px;
        }
      }

      .option-3 {
        .fa-solid {
          padding-left: 13px;
        }
      }

      .option-4 {
        .fa-solid {
          padding-left: 14px;
        }
      }

      .option-name-1 {
        padding-left: 3px;
      }

      .option-name-2 {
        padding-left: 1px;
      }

      .option-name-4 {
        padding-left: 2px;
      }

      .option-name-5 {
        padding-left: 4px;
      }

      .option-name-6 {
        padding-left: 7px;
      }
    }
  }
}

.channels {
  .channel-container {
    display: flex;
    flex-direction: column;

    .channel-dropdown {
      margin: 20px 0 0 15px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 15px;

      .channel-title {
        display: flex;
        align-items: center;

        .fa-solid {
          padding-right: 20px;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    .channel-names {
      margin: 5px 0 0 0;
      height: 100px;
      overflow: scroll;
      .channel-list {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        padding: 5px 0 5px 30px;
        align-items: center;
        font-size: 15px;

        &:hover {
          background-color: rgba(33, 9, 34, 0.394);
        }

        &:focus {
          background-color: rgb(4, 92, 143);
          color: white;
        }

        .fa-solid {
          font-size: 10px;
          padding-right: 13px;
        }
      }
    }
  }

  .add-channels {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 14px 0;

    .fa-solid {
      padding: 0 10px 0 28px;
      color: rgba(255, 255, 255, 0.4);
    }

    &:hover {
      background-color: rgba(33, 9, 34, 0.394);
      cursor: pointer;
    }
  }
}

.direct-message {
  .dmessage {
    display: flex;
    flex-direction: column;

    .dm-dropdown {
      margin: 20px 0 0 15px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 15px;

      .fa-solid {
        padding-right: 20px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .user-names {
    margin: 5px 0 0 0;
    height: 140px;
    overflow: scroll;

    .slack-bot {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 5px;
      padding: 5px 0 5px 0;
      text-decoration: none;

      &:hover {
        background-color: rgba(33, 9, 34, 0.394);
        cursor: pointer;
      }

      img {
        width: 15px;
        height: 15px;
        border-radius: 3px;
        margin: 0 12px 0 28px;
      }
    }

    .image {
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(33, 9, 34, 0.394);
        cursor: pointer;
      }

      &:focus {
        background-color: rgb(4, 92, 143);
        color: white;
      }
      .avatar {
        width: 20px;
        height: 20px;
        margin-left: 25px;
        padding: 2px;
        border-radius: 3px;
      }
    }

    .user-list {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      display: flex;
      padding: 5px 0 5px 10px;
      align-items: center;
      text-decoration: none;
      font-size: 15px;
    }
  }
}